---
import Main from "../layouts/Main.astro";
import data from "../data/resume.json";

interface resumeItem {
  show: string;
  location: string;
  director: string;
  year: string;
}
---

<Main title="resume">
  <h2 class="my-4 font-bold">Resume</h2>
  <p class="text-wrap">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi
    repudiandae quidem sapiente ullam, enim odio numquam nihil temporibus
    accusantium eos consequatur animi aspernatur similique alias quo amet
    provident officia omnis eum quos cum? Exercitationem maiores dolores facilis
    doloremque aperiam quos sit quo perferendis nam repellat a, quas veniam
    officiis et impedit quidem repellendus quam obcaecati nesciunt adipisci fuga
    cum?
  </p>
  <div class="resume__content">
    <h3 class="my-4 font-black">Scenic Design</h3>
    <div class="resume__headers flex no-wrap">
      <h4 class="font-bold">Show</h4>
      <h4 class="font-bold">Location</h4>
      <h4 class="font-bold">Director</h4>
      <h4 class="font-bold">Year</h4>
    </div>
    <div class="resume__section">
      <ul>
        {
          data.scenic.map((item: resumeItem) => (
            <li class="flex no-wrap">
              <p class="my-1 font-semibold">{item.show}</p>
              <p class="my-1">{item.location}</p>
              <p class="my-1">{item.director}</p>
              <p class="my-1">{item.year}</p>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</Main>
